{% extends 'base.html.twig' %}

{% block title %}Hello AfficherSortiController!
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="row">
			<h4 class="offset-10 col-2">Date du jour :
				{{"now" | date('d/m/Y')}}
			</div>
			<div class="row">
				<h4 class="offset-10 col-2">Participant :
					{{ participant.nom}}
					{{participant.prenom}}
				</div>
				<div class="row" style="margin-top:15px;">
					<h5 class="col-12">Filtrer les sorties</h5>
				</div>
				<form method="POST" action="#">
					<div class="row">
						<div class="col-5">
							<div class="row">
								<div class="col-3">Site :
								</div>
								<select name="site" class="offset-1 col-8">
									{% for site in sites %}
										<option value="{{site.getId()}}">{{site.getNomSite()}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="row" style="margin-top:15px;">
								<div class="col-4">Le nom de la sortie contient :</div>
								<input class="col-8" type="text" name="nom"/>
							</div>
							<div class="row" style="margin-top:15px">
								<div class="col-4">
									Entre
								</div>
								<input type="text" class="col-3" name="date1"/>
								<div class="col-2 text-center">
									et
								</div>
								<input type="text" class="col-3" name="date2"/>
							</div>
						</div>
						<div class="col-3">
							<div class="row">
								<div class="col-11 offset-1"><input type="checkbox"/>
									Sorties dont je suis l'organisateur/trice
								</div>
								<div class="col-11 offset-1" style="margin-top:15px"><input type="checkbox"/>
									Sorties auxquelles je suis inscrit/e
								</div>
								<div class="col-11 offset-1" style="margin-top:15px"><input type="checkbox"/>
									Sorties auxquelles je ne suis pas inscrit/e
								</div>
								<div class="col-11 offset-1" style="margin-top:15px"><input type="checkbox"/>
									Sorties passées
								</div>
							</div>
						</div>
						<div class="col-2 offset-1" style="margin-top:100px;">
							<input type="submit" value="Rechercher" class="col-12"/>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row font-weight-bold" style="margin-top:20px;">
			<div class="col-2">
				Nom de la sortie
			</div>
			<div class="col-2">
				Date de la sortie
			</div>
			<div class="col-1">
				Clôture
			</div>
			<div class="col-1">
				Inscrits/places
			</div>
			<div class="col-1">
				Etat
			</div>
			<div class="col-1">
				Inscrit
			</div>
			<div class="col-2">
				Organisateur
			</div>
			<div class="col-2">
				Actions
			</div>
		</div>
		{% for sortie in sorties %}
			<div class="row">
				<div class="col-2">
					{{sortie.nom}}
				</div>
				<div class="col-2">
					{{sortie.datedebut | date('d/m/Y')}}
				</div>
				<div class="col-1">
					{{sortie.datecloture | date('d/m/Y')}}
				</div>
				<div class="col-1">
					8/{{sortie.nbinscriptionsmax}}
				</div>
				<div class="col-1">
					{{sortie.etat.getLibelle()}}
				</div>
				<div class="col-1">
					X
				</div>
				<div class="col-2">
					{{sortie.organisateur.nom}}
					{{sortie.organisateur.prenom}}
				</div>
				<div class="col-2">
					Afficher
				</div>
			</div>
		{% endfor %}
		<div class="row" style="margin-top:20px;">
			<input type="submit" value="Créer une sortie" class="col-1"/>
		</div>
	</div>

{% endblock %}
