{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="text-center"><h1>{{ data.pseudo }}</h1></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="offset-md-5">
        <ul>
            Prenom: {{ data.prenom }}
        </ul>
        <ul>
            Nom: {{ data.nom }}
        </ul>
        <ul>
            Telephone: {{ data.telephone }}
        </ul>
        <ul>
            Email: {{ data.mail }}
        </ul>
    </div>
    <div class="offset-md-5">
        <a type="button" class="btn btn-primary" href="{{ path('afficher_sorti') }}">Retour</a>
        <a type="button" class="btn btn-primary" href="http://127.0.0.1:8000/profil/edit">Modifier</a>
    </div>

{% endblock %}